{{!--<div id="main">  --}}
    <div id="issue-desc" class="bg-blend">
        <span>New Writing By</span>
        <ul id="contributors" class="nav-ul">
            {{#each model as |author|}}
            <a href="#"><li>{{author.name}}</li></a>
            {{/each}}
        </ul>
    </div>  
    <div id="main-content">
    </div>
{{!--</div>--}}