<div class="menu-item">
    <h2>Contact Us</h2>
    <p>If you'd like to drop us a note about the magazine, website or anything else, you can do so below. If you'd like to contribute work for publication, <a href="mailto:{{unbound 'riverbedpoetry@gmail.com'}}">email us</a>. Preferred format is pdf, or paste your work in the body of the email.</p>
    <form class='form'>
        {{input aria-label='name' type='name' placeholder='Your name' name='name'}}
        {{input aria-label='email' type='email' placeholder='Your email' name='email'}}
        {{textarea aria-label='message' name='message' placeholder='Your message'}}
        <button class="button">Submit</button>
    </form>
</div>