{{outlet}}
<div class="menu-item">
    {{#new-post newPost=posts authors=authors issues=issues posts=posts createPost="createPost"}}{{/new-post}}
</div>
<div id="main-content">
    {{#each posts as |post|}}
        {{#post-item post=post}}
            {{post.text}}
        {{/post-item}}
    {{/each}}
</div>
