<div id="main">  
    <div id="issue-desc" class="bg-blend">
        <span>New Writing By</span>
        {{#each model as |author|}}
        <article>
            <h3>{{author.name}}</h3>
            <span>{{author.bio}}</span>
        </article>
        {{/each}}
        {{!--<ul id="contributors" class="nav-ul">
            {{#each model as |author|}}
            <li>
                <span>Name: </span>{{author.name}}
                <span>Bio: </span>{{author.bio}}
            </li>
            {{/each}}
        </ul>--}}
    </div>  
    <div id="main-content">
    </div>
</div>